# Set Simple Questions

In [ ]:
1. Write a Python program to convert and print the given list into a set.
    Data:
        x = [1,2,3,4]
    Expected Output:
        x = {1,2,3,4}

In [1]:
x = [1,2,3,4]
print(set(x))

{1, 2, 3, 4}

In [ ]:
2.Write a Python program to find the length of a given set.
    Data:
        x = {4,5,6,7,9,2}
    Expected Output:
        6

In [3]:
x = {4,5,6,7,9,2}
print(len(x))

6

In [ ]:
3. Write a Python program to create a shallow copy of sets. 
    Data:
        a = ["Boss","Siva"]
    Expected Output:
        {"Boss","Siva"}

In [6]:
a = ["Boss","Siva"]
b=a.copy()
print(set(b))
print(set(a))

{'Boss', 'Siva'}
{'Boss', 'Siva'}

In [ ]:
4. Write a Python program to remove an element from the given set using discard().
    Data:
        x= {0,1,2,3,4,5}
    Expected Output:
        {0, 1, 2, 4, 5}

In [8]:
x= {0,1,2,3,4,5}
x.discard(6)
print(x)
x.discard(5)
print(x)

{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4}

In [ ]:
5. Write a Python program to add elements to a given set.
    Data:
        {"Boss"}
    Expected Output:
        {"Boss", "Siva", "Suresh"}

In [12]:
a={"Boss"}
a.add("siva")
a.add("Suresh")
print(a)

{'siva', 'Boss', 'Suresh'}

In [ ]:
6. Write a Python program to remove an element from the given set using pop().
    Data:
        x = {1,2,3,4,5,6}
    Expected Output:
        {1, 2, 3, 4}

In [19]:
x = {1,2,3,4,5,6}
y=[]
y=list(x)
y.pop()
y.pop()
x=set(y)
print(x)

{1, 2, 3, 4}

In [ ]:
7. Write a Python program to print each elements of a given set using for loop.
    Data:
        x = {1, 2, 3, 4, 5}
    Expected Output:
        1
        2
        3
        4
        5

In [20]:
x = {1, 2, 3, 4, 5}
for i in x:
    print(i)

1
2
3
4
5

In [ ]:
8. Write a Python program to print the intersection of two given sets. 
   Data:
        x = {"boss", "karthi"}
        y = {"karthi", "siva"}
    Expected Output:
        {'karthi'}

In [22]:
x = {"boss", "karthi"}
y = {"karthi", "siva"}
print(x&y)
print(x.intersection(y))

{'karthi'}
{'karthi'}

In [ ]:
9. Write a Python program to print the union of two given sets. 
    Data:
        x = {"boss", "karthi"}
        y = {"karthi", "siva"}
    Expected Output:
        {'boss', 'siva', 'karthi'}

In [25]:
x = {"boss", "karthi"}
y = {"karthi", "siva"}
print(x|y)

{'boss', 'siva', 'karthi'}

In [ ]:
10. Write a Python program to print the symmetric difference between two given sets. 
    Data:
        x = {"boss","karthi"}
        y = {"karthi","siva"}
    Expected Output:
        {'boss', 'siva'}

In [46]:
x = {"boss","karthi"}
y = {"karthi","siva"}
print(x^y)

{'siva', 'boss'}

In [ ]:
11. Write a Python program to clear a given set.
    Data:
        x ={"Kutta", "Puppy"}
    Expected Output:
        The set x has elements : {'Puppy', 'Kutta'}
        After clearing the set x : set()

In [47]:
x ={"Kutta", "Puppy"}
x.clear()
print(x)

set()

In [ ]:
12. Write a Python program to print the maximum value from a given set. 
    Data:
        x = {23, 45, 12, 56, 87}
    Expected Output:
        87

In [48]:
x = {23, 45, 12, 56, 87}
print(max(x))

87

In [ ]:
13. Write a Python program to print the minimum value from a given set. 
    Data:
        x = {23, 56, 2, 3, 78, 6}
    Expected Output:
        2

In [49]:
x = {23, 56, 2, 3, 78, 6}
print(min(x))

2

In [ ]:
14. Write a Python program to remove the intersection of a 2nd set from the 1st set using difference_update().
    Data:
        x = {1, 2, 3, 4, 5}
        y = {4, 5, 6, 7, 8}
    Expected Output:
        {1, 2, 3}

In [50]:
x = {1, 2, 3, 4, 5}
y = {4, 5, 6, 7, 8}
x.difference_update(y)
print(x)

{1, 2, 3}

In [ ]:
15. Write a Python program to update the 1st set with the intersection elements from another set using intersection_update().
    Data:
        x = {"apple", "banana", "cherry"}
        y = {"google", "microsoft", "apple"}
    Expected Output:
        {"apple"}

In [51]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [ ]:
16. Write a Python program to zip two sets into a list.
    Data:
        {1, 2, 3},{"a", "b", "c"}
    Expected Output:
        [(1, 'c'),(2, 'b'),(3, 'a')]

In [75]:
x={1, 2, 3}
y={"a", "b", "c"}
x=tuple(x)
y=tuple(y)
z=zip(x,y)
print(list(z))

[(1, 'b'), (2, 'c'), (3, 'a')]

In [ ]:
17. Write a Python program to convert a list into a set.
    Data:
        x = [5,3,4,1,2]
    Expected Output:
        {1,2,3,4,5}

In [63]:
x = [5,3,4,1,2]
x=set(x)
print(x)

{1, 2, 3, 4, 5}

In [ ]:
18. Write a python program to check if a set is a subset of another set using comparison operator. Return True if yes, False if not.
    Data:
        x = {"1", "2"}
        y = {"1", "2", "3"}
    Expected Output:
        True
        False

In [67]:
x = {"1", "2"}
y = {"1", "2", "3"}
print(x < y)

True

In [ ]:
19. Write a python program to check if a set is a subset of another set using issubset(). Return True if yes, False if not.
    Data:
        x = {4, 5}
        y = {1, 2, 3, 4, 5}
    Expected Output:
        True
        False

In [68]:
x = {4, 5}
y = {1, 2, 3, 4, 5}
print(x.issubset(y))

True

In [ ]:
20. Write a Python program to check if two given sets are disjoint.
    Data:
        a = {1,2,3}
        b = {4,5,6}
        c = {3}
    Expected Output:
        True
        False

In [70]:
a = {1,2,3}
b = {4,5,6}
c = {3}
print(a.isdisjoint(b))
print(a.isdisjoint(c))

True
False