# Map Simple Questions

In [ ]:
1. Write a python program to map the squares of the numbers present in a list.
    Data:
        m = [1,2,3,4,5,6,7,8,9]
    Expected Output:
        <map object at 0x00000232B9256790>
        [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
2. Write a python program to round off the values in a given list using map().
    Data:
        m = [2.6743,3.63526,4.2325,5.9687967,6.3265,7.6988,8.232,9.6907]
    Expected Output:
        <map object at 0x00000232B9256E50>
        [3, 4, 4, 6, 6, 8, 8, 10]

In [ ]:
3. Write a python program to print the given string by iterating it using for loop and map().
    Data:
        m = "welcome to Aidinasaur!"
    Expected Output:
        <map object at 0x00000232B92568B0>
        welcome to Aidinasaur!

In [ ]:
4. Write a python program to print the given list of numbers using map().
    Data:
        [2,3,4,5,6,7,8,9]
    Expected Output:
        <map object at 0x00000232B9256970>
        [2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
5. Write a python program to print the given tuple of strings using map().
    Data:
        tuples = ('php','java','python','c++','c')
    Expected Output:
        <map object at 0x00000232B9292850>
        ('php', 'java', 'python', 'c++', 'c')

In [ ]:
6. Write a python program to print given dictionary of elements using map().
    Data:
        m = {1,2,3,4,5,6,7,8,9}
    Expected Output:
        <map object at 0x00000232B9292DC0>
        [1,2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
7. Write a python program to print the elements of a list using lambda function and map().
    Data:
        m= [1,2,3,4,5,6,7,8,9]
    Expected Output:
        <map object at 0x00000232B9292280>
        [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
8. Write a python program to add each elements of m1 with each corresponding elements in m2 using map().
    Data:
        m1 = [2,3,4,5,6,7,8,9]
        m2 = [4,8,12,16,20,24,28]
    Expected Output:
        <map object at 0x00000232B9256970>
        [6, 11, 16, 21, 26, 31, 36]

In [ ]:
9. Write a python program to create a dictionary with keys from list and values from tuple from the given data using map().
    Data:
        lists = ['a','b', 'c', 'd', 'e']
        tuples = ('PHP','Java','Python','C++','C')
    Expected Output:
        <map object at 0x00000232B92928B0>
        ['a:PHP', 'b:Java', 'c:Python', 'd:C++', 'e:C

In [ ]:
10. Write a python program to multiply each elements in a set with 10 and print the result in a list using map(). 
    Data:
        sets = {1,2,3,4,5,6,7,8,9}
    Expected Output:
        <map object at 0x00000232B9292580>
        [10, 20, 30, 40, 50, 60, 70, 80, 90]