# Map Intermediate Questions

In [ ]:
1. Write a Python program to triple all the numbers of a given list of integers using map().
    Data:
        Original list:  (1, 2, 3, 4, 5, 6, 7)
    Expected Output:
        Triple of said list numbers:
        <map object at 0x0000014EA83550D0>
        [3, 6, 9, 12, 15, 18, 21]

In [ ]:
2. Write a Python program to add three given lists using map and lambda functions.
    Data:
        x = [1, 2, 3] 
        y = [4, 5, 6] 
        z = [7, 8, 9]
    Expected Output:
        New list after adding above three lists:
        <map object at 0x0000014EA8396580>
        [12, 15, 18]

In [ ]:
3. Write a Python program to print the given strings individually from the list using map().
    Data:
        Original list: ['Boss', 'Suresh', 'Siva', 'Balu', 'Dinesh']
    Expected Output:
        Original list: 
            ['Boss', 'Suresh', 'Siva', 'Balu', 'Dinesh']
        Listing of strings individually : 
            <map object at 0x000002175B15CD60>
            [['B', 'o', 's', 's'], ['S', 'u', 'r', 'e', 's', 'h'], ['S', 'i', 'v', 'a'], 
             ['B', 'a', 'l', 'u'], ['D', 'i', 'n', 'e', 's', 'h']]

In [ ]:
4. Write a Python program to create a list, containing the power of numbers in the given list [num] and 
            bases raised to the corresponding number from the list [index] using map().
    Data:
        num = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
        index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    Expected Output:
        Power of said number in bases raised to the corresponding number in the index:
        <map object at 0x0000014EA833C9A0>
        [10, 400, 27000, 2560000, 312500000, 46656000000, 8235430000000, 1677721600000000, 387420489000000000, 
         100000000000000000000]

In [ ]:
5. Write a Python program to square the elements of a list using map() function.
    Data:
        Original List:  [4, 5, 6, 7]
    Expected Output:
        Square the elements of the said list using map():
        [16, 25, 36, 49]

In [ ]:
6. Write a Python program to convert all the characters in uppercase and lowercase and 
            eliminate duplicate letters from a given sequence. Use map() function.
    Data:
        Original Characters: {'U', 'f', 'c', 'i', 'E', 'a', 'b', 'o'}
    Expected Output:
        After converting above characters in upper and lower casesand eliminating duplicate letters:
        {('C', 'c'), ('I', 'i'), ('A', 'a'), ('F', 'f'), ('B', 'b'), ('O', 'o'), ('E', 'e'), ('U', 'u')}

In [ ]:
7. Write a Python program to add two given lists and find the difference between lists.
        Print the results in another list using map() function.
    Data:
        nums1 = [4, 5, 6, 7]
        nums2 = [0, 1, 2, 3]
    Expected Output:
        [(4, 4), (6, 4), (8, 4), (10, 4)]

In [ ]:
8. Write a Python program to convert a given list of integers and a given tuple of integers into lists of strings.
    Data:
        lists = [1,2,3,4]
        tuples = (0, 1, 2, 3) 
    Expected Output:
        List of strings: ['1', '2', '3', '4']
        Tuple of strings: ('0', '1', '2', '3')

In [ ]:
9. Write a Python program to create a new list by taking the weights of each student from a given tuple and 
            convert the string value into an integer using map().
    Data:
        student = [('Baskar','15/05/2002','35kg'), ('Suresh','17/05/2002','37kg'), ('Siva','16/02/1999', '39kg'), 
                 ('Dinesh','25/09/1998', '35kg')]
    Expected Output:
        Student weight: [35, 37, 39, 35]

In [ ]:
10. Write a Python program to print the first 10 fibonacci series and map() the squares of each numbers in a series into a list.
    Expected Output:
        First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
        After squaring said numbers of the list: [0, 1, 1, 4, 9, 25, 64, 169, 441, 1156]