# Nested Dictionary Intermediate Questions

In [ ]:
1. What You can iterate over all values in a nested dictionary using nested for loop.
    Data:
        D = {'x': {'name': 'Boss', 'job': 'Mgr'},'y': {'name': 'Suresh', 'job': 'Dev'},'z': {'name': 'Siva', 'job': 'Dev'}}
    Expected Output:
        Employee ID: x
        name: Boss
        job: Mgr

        Employee ID: y
        name: Suresh
        job: Dev

        Employee ID: z
        name: Siva
        job: Dev

In [ ]:
2. Write a Python program to convert given list into a nested dictionary of keys.
    Data:
        X = [1, 2, 3, 4]
    Expected Output:
        {1: {2: {3: {4: {}}}}}

In [ ]:
3. Write a Python program to combine values from the list of dictionaries.
    Data:
        [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
    Expected Output:
        Counter({'item1': 1150, 'item2': 300})

In [ ]:
4. Write a Python program to print all unique values form the given nested dictionary.
    Data:
        L = [{"V":"Boss"}, {"V": "Siva"}, {"VI": "Suresh"}, {"VI": "Dinesh"}, {"VII":"Karthi"}, {"V":"Kumar"},{"VIII":"Sai"}]
    Expected Output:
        Unique Values:  {'Boss', 'Siva', 'Karthi', 'Kumar', 'Dinesh', 'Suresh', 'Sai'}

In [ ]:
5. Write a Python program to print a nested dictionary line by line.
    Data:
        students = {"Boss":{"class":"V","rolld_id":2},"Suresh":{"class":"V", "rolld_id":3}}
    Expected Output:
        Boss
        class : V
        rolld_id : 2
        Suresh
        class : V
        rolld_id : 3

In [ ]:
6. Write a python program to delete a particular key and value from the given nested dictionary by refering its key.
    Data:
        people = {1: {'name': 'Suresh', 'age': '27', 'sex': 'Male'},
                  2: {'name': 'Siva', 'age': '22', 'sex': 'Female'},
                  3: {'name': 'Bala', 'age': '24', 'sex': 'Female', 'married': 'No'},
                  4: {'name': 'Karthi', 'age': '29', 'sex': 'Male', 'married': 'Yes'}}
    Expected Output:
        {'name': 'Bala', 'age': '24', 'sex': 'Female'}
        {'name': 'Karthi', 'age': '29', 'sex': 'Male'}

In [ ]:
7. Write a Python program to print the value of any key using index from the given nested dictionary.
    Data:
        Dict = { 'Dict1': {'name': 'Boss', 'age': '19'}, 
                 'Dict2': {'name': 'Karthi', 'age': '25'}}
    Expected Output:
        Boss
        25

In [ ]:
8. Write a Python program to convert a nested dictionary into a flattened dictionary.
    Data:
        {'geeks': {'Geeks': {'for': 7}}, 
        'for': {'geeks': {'Geeks': 3}}, 
        'Geeks': {'for': {'for': 1, 'geeks': 4}}}
    Expected Output:
        {'geeks_Geeks_for': 7, 'for_geeks_Geeks': 3, 'Geeks_for_for': 1, 'Geeks_for_geeks': 4}

In [ ]:
9. Write a Python program to create a nested dictionary using dict() function.
    Data:
        D = (x = {'name': 'Boss', 'job': 'Mgr'},
             y = {'name': 'Suresh', 'job': 'Dev'},
             z = {'name': 'Siva', 'job': 'Dev'})
    Expected Output:
        {'x': {'name': 'Boss', 'job': 'Mgr'}, 
         'y': {'name': 'Suresh', 'job': 'Dev'}, 
         'z': {'name': 'Siva', 'job': 'Dev'}}

In [ ]:
10. Write a python program to remove and return the last inserted item as a tuple using popitem() function.
    Data:
        {'x': {'name': 'Boss', 'job': 'Mgr'}, 
         'y': {'name': 'Suresh', 'job': 'Dev'}, 
         'z': {'name': 'Siva', 'job': 'Dev'}}
    Expected Output: 
        {'x': {'name': 'Boss', 'job': 'Mgr'}, 'y': {'name': 'Suresh', 'job': 'Dev'}}
        ('z', {'name': 'Siva', 'job': 'Dev'})