# Tuples Simple Questions

In [1]:
1. Write a Python program to print convert a list into a tuple.
    Data:
        x = [1,2]
    Expected Output:
        x - [1, 2]
        <class 'list'>
        y - (1, 2)
        <class 'tuple'>

In [1]:
x=[1,2]
print(x,"\n",type(x))
y=tuple(x)
print(y,"\n",type(y))

[1, 2]
 <class 'list'>
(1, 2)
 <class 'tuple'>

In [2]:
2. Write a Python program to create a tuple with different data types.
    Data:
        x = ("tuples",3.2, 1)
    Expected Output:
        ('tuples', 3.2, 1)

In [2]:
tuple = ("tuples",3.2, 1)
print(tuple)

('tuples', 3.2, 1)

In [3]:
3. Write a Python program to create a tuple with numbers and print the items one by one.
    Data:
        x = 5, 10, 15, 20, 25
    Expected Output:
        <class 'tuple'> 
        (5, 10, 15, 20, 25)
        5
        10
        15
        20
        25

In [6]:
x = (5, 10, 15, 20, 25)
print(type(x))
print(x)
for i in x:
    print(i)

<class 'tuple'>
(5, 10, 15, 20, 25)
5
10
15
20
25

In [4]:
4. Write a Python program to convert a tuple of characters into a string.
    Data:
        x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
    Expected Output:
        volatility

In [8]:
x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
y=""
for i in x:
    y+=i
print(y)

volatality

In [5]:
5. Write a Python program to convert a tuple into a list.
    Data:
        x=(1,2,3)
    Expected Output:
        (1, 2, 3)
        [1, 2, 3]

In [9]:
x=(1,2,3)
y=list(x)
print(x)
print(y)

(1, 2, 3)
[1, 2, 3]

In [6]:
6. Write a Python program to remove an element from a tuple.
    Data:
        x = ("a","b","c","d")
    Expected Output:
        ('a', 'b', 'd')

In [1]:
x = ("a","b","c","d")
y = list(x)
print(y)
y.remove("c")
print(y)
print(type(y))
x=tuple(y)
print(x)

['a', 'b', 'c', 'd']
['a', 'b', 'd']
<class 'list'>
('a', 'b', 'd')

In [7]:
7. Write a Python program to find the length of a tuple.
    Data:
        x = ("positions")
    Expected Output:
        ('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')

In [2]:
x = tuple("positions")
print(len(x))
print(x)

9
('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')

In [8]:
8. Write a Python program to convert a tuple into a dictionary.
    Data:
        x = ((2, "w"),(3, "r"))
    Expected Output:
        {'w': 2, 'r': 3}

In [9]:
x = ((2, "w"),(3, "r"))

#typecast to dictionary
y=dict(x)
print("typecast to dictionary: ",y)
#Swap key and value in dictionary
z = dict([(value,  key) for key, value in y.items()])
print("Swap Key and values in dictionary : ",z)

typecast to dictionary:  {2: 'w', 3: 'r'}
Swap Key and values in dictionary :  {'w': 2, 'r': 3}

In [9]:
9. Write a Python program to reverse the tuple elements.
    Data:
        x = ("Baskar")
        x = (5, 10, 15, 20)
    Expected Output:
        ('r', 'a', 'k', 's', 'a', 'B')
        (20, 15, 10, 5)

In [15]:
x = ("Baskar")
y = (5, 10, 15, 20)

#typecast to list, reverse it and then typecast back to tuple.
listx = list(x)
listy = list(y)
listx.reverse()
listy.reverse()
tuplex = tuple(listx)
tupley = tuple(listy)
print(tuplex)
print(tupley)

('r', 'a', 'k', 's', 'a', 'B')
(20, 15, 10, 5)

In [10]:
10. Write a Python program to unpack a tuple in several variables.  
    Data:
        x = 4, 8, 3
    Expected Output:
        (4, 8, 3)
        15

In [32]:
x={4,8,3}
a,b,c=x
print(x)
print(a+b+c)

{8, 3, 4}
15

In [1]:
11. Write a Python program to create a nested tuple.
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        ('Boss', [8, 4, 6], (1, 2, 3))

In [43]:
x=("boss"),
y=([8,4,6]),
z=(1,2,3),

tuplenested = tuple(x+y+z)
print(tuplenested)

('boss', [8, 4, 6], (1, 2, 3))

In [2]:
12. Write a Python program to convert a string into a tuple.
    Data:
        x = ("hello")
    Expected Output:
        <class 'str'>
        <class 'tuple'>

In [46]:
x = ("hello")
y = tuple(x)
print(type(x))
print(type(y))

<class 'str'>
<class 'tuple'>

In [3]:
13. Write a Python program to access tuple elements using index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[0] is : B
        x[5] is : r

In [50]:
x = ('B','a','s','k','a','r')
print("x[0] is :",x[0])
print("x[5] is :",x[5])

x[0] is : B
x[5] is : r

In [4]:
14. Write a Python program to access nested tuple elements using index. 
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        x[0][3] is : s
        x[1][1] is : 4

In [56]:
x = ("Boss", [8, 4, 6], (1, 2, 3))
print("x[0][3] is :",x[0][3])
print("x[1][1] is :",x[1][1])

x[0][3] is : s
x[1][1] is : 4

In [55]:
15. Write a Python program to access tuple elements using negative index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[-1] is : r
        x[-6] is : B

SyntaxError: invalid syntax (2645304400.py, line 1)

In [59]:
x = ('B','a','s','k','a','r')
print("x[-1] is :",x[-1])
print("x[-6] is :",x[-6])

x[-1] is : r
x[-6] is : B

In [6]:
16. Write a Python program to use + and * operators in a tuple and print the results in tuple.
    Data:
        x : (1, 12, 123)
        y : (4, 9)    
    Expected Output:
        z = x + y : (1, 12, 123, 4, 9)
        z * 3 : (1, 12, 123, 4, 9, 1, 12, 123, 4, 9, 1, 12, 123, 4, 9)

In [62]:
x=(1, 12, 123)
y=(4, 9)
z = tuple(x+y)
print(z)
print(z*3)

(1, 12, 123, 4, 9)
(1, 12, 123, 4, 9, 1, 12, 123, 4, 9, 1, 12, 123, 4, 9)

In [7]:
17. Write a Python program to print each elements of a tuple using for loop.
    Data:
        Tuple x = ('boss','sai')
    Expected Output:
        Hello boss
        Hello bala

In [65]:
x = ('boss','sai')
for i in x:
    print(i)

boss
sai

In [8]:
18. Write a Python program to print the count of 'p' and the index of 'l' from the given tuple using tuple methods.
    Data: 
        x = ('a', 'p', 'p', 'l', 'e')
    Expected Output:
        Count of p is : 2
        Index of l is : 3

In [68]:
x = ('a', 'p', 'p', 'l', 'e')
print("count of p is:", x.count('p'))
print("index of l is:", x.index('l'))

count of p is: 2
index of l is: 3

In [9]:
19. Write a Python program to update an element of a given tuple from 7 to 77.
    Data:
        x = (1, [9, 8, 7], "boss")
    Expected Output:
        (1, [9, 8, 7], 'boss')
        (1, [9, 8, 77], 'boss')

In [89]:
x = (1, [9, 8, 7], "boss")
print(x)
y=list(x)
y[1].remove(7)
y[1].insert(2,77)
print("list y:",y)
print("tuple x :",x)

(1, [9, 8, 7], 'boss')
list y: [1, [9, 8, 77], 'boss']
tuple x : (1, [9, 8, 77], 'boss')

In [ ]:
20. Write a Python program to slice a tuple.
    Data: 
        x = (11, 22, 33, 44, 55, 66, 77, 88, 99)
    Expected Output:
        (11, 22, 33, 44, 55, 66, 77, 88, 99)
        (33, 44, 55)
        (11, 22, 33, 44)
        (55, 66, 77, 88, 99)
        (55, 66, 77, 88)
        (11, 22, 33, 44, 55, 66, 77, 88, 99)

In [100]:
x = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(x)
print(x[2:5])
print(x[0:4])
print(x[4:9])
print(x[4:8])
print(x[0:9])

(11, 22, 33, 44, 55, 66, 77, 88, 99)
(33, 44, 55)
(11, 22, 33, 44)
(55, 66, 77, 88, 99)
(55, 66, 77, 88)
(11, 22, 33, 44, 55, 66, 77, 88, 99)